menu "App Led"

    config APP_HEARTBEAT_PERIOD_MS
        int "Heartbeat period ms (0-100)"
        default 500
        range 100 2000
        help
            LED period

endmenu

menu "Zephyr Configuration"
    source "Kconfig.zephyr"
endmenu